<h2>{{post.title}} <small>{{post.author.name}}</small> <i class="fa fa-thumbs-up pull-right text-primary" ng-click="like(post.id,'Post')"></i></h2>
<p class='lead'>
   {{post.body}}{{post.body}}
   <br>
   {{post.body}}
</p>
<p>{{post.likes_count}} likes, {{post.comments_count}} comments</p>
<div class="alert alert-success" role="alert" ng-show='message'>
   {{message}}
</div>
<form ng-submit="submit()">
   <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="ENTER COMMENT" ng-model='commentForm.comment' required></textarea>
   </div>
   <button type="submit" class="btn btn-primary">Add comment</button>
</form>

<h4>Comments</h4>
<blockquote ng-repeat="comment in comments">
   <p> {{comment.body}}</p>
   <i class="fa fa-thumbs-up pull-right text-primary" ng-click="like(comment.id,'Comment')"></i>
   <span>{{comment.likes_count}} Likes</span>
   <footer>By <cite title="Source Title">{{comment.author.name}}</cite></footer>
</blockquote>
